
# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtual Environments
env/
venv/
ENV/
.venv/

# Environment Variables / Secrets
.env
.env.*
*.key
*.pem

# Packaging / Build
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Testing / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Logs
*.log

# Celery / Redis
celerybeat-schedule
celerybeat.pid

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
